* {
    padding: 0;
    margin: 0;
    font-family: "DM Serif Text", serif;
    font-weight: 400px;
    font-style: italic;
}

body {
    background-image: url('../assets/AdobeStock_143798795.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.input-form {
    font-style: normal;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    box-shadow: 10px;

}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form h1 {
    font-size: 60px;
    text-align: center;
    margin: 40px 0;
}

#form p {
    font-size: 20px;
    margin: 10px 0;
}

#form .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    padding: 10px 5px;
    width: 40%;
    border: solid 2px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}