.post-container {
    margin: 100px auto 16px; 
    max-width: 500px; 
    position: relative; 
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}   

.post {
    background-color: #2b2d31; 
    border-radius: 8px; 
    padding: 16px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  
    margin: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px; 
}

.profile-img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #7289da; 
    margin-right: 12px; 
}

.username {
    font-size: 16px;
    font-weight: 500;
    color: #f2f3f5; 
    margin-right: 8px; 
}

.post-time {
    font-size: 12px;
    color: #949ba4; 
}

.post-text {
    word-break: break-all;
    font-size: 14px;
    color: #dbdee1;
    line-height: 1.5; 
    margin-bottom: 12px;
}

.post-actions {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.actionIcon {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.not-liked {
    background-image: url(../icons/like.svg);
    background-size: cover;
    cursor: pointer;
}

.not-disliked{
    background-image: url(../icons/dislike.svg);
    background-size: cover;
    cursor: pointer;
    
}

.liked {
    background-image: url(../icons/solid_like.svg);
    background-size: cover;
    cursor: pointer;

}

.disliked {
    background-image: url(../icons/solid_dislike.svg);
    background-size: cover;
    cursor: pointer;

}

.comment-icon {
    background-image: url(../icons/comment.svg);
    background-size: cover;
    cursor: pointer;

}

.categories {
    display: flex;
    flex-wrap: wrap; 
    gap: 8px; 
    margin-bottom: 12px; 
}


.post-categorie {
    background-color: #7289da; 
    color: #fff; 
    font-size: 12px; 
    padding: 4px 8px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.2s ease; 
}

.post-categorie:hover {
    background-color: #677bc4; 
}

.nbr {
    font-size: 14px;
    color: #949ba4;
    margin-left: 4px;
}