.typing-indicator {
    position: absolute;
    bottom: 2px;
    left: 29px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #949ba4;
}

.typing-indicator .dots {
    display: flex;
    gap: 4px;
}

.typing-indicator .dots span {
    width: 6px;
    height: 6px;
    background-color: #949ba4;
    border-radius: 50%;
    animation: typing 1.4s infinite ease-in-out;
}

.typing-indicator-user {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
}

.typing-indicator-user .dots {
    display: flex;
    gap: 4px;
}

.typing-indicator-user .dots span {
    width: 6px;
    height: 6px;
    background-color: #949ba4;
    border-radius: 50%;
    animation: typing 1.4s infinite ease-in-out;
}

.typing-indicator .dots span:nth-child(2),
.typing-indicator-user .dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator .dots span:nth-child(3),
.typing-indicator-user .dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {

    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-6px);
    }
}